################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HSE_CVX_TRAINING.slnx/FileContentIndex
/.vs/slnx.sqlite
